header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 47px;
}

header li{
    display: inline;
    float: left;
    width: 50px;
    text-align: center;
}

header li a{
    color: #000;
    font-size: 13px;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial,sans-serif;
}

header li a:hover{
    text-decoration: underline;
}

.btn-btn-small{
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    width: 69.32px;   
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    border-radius: 2px;
    margin-top: -6px;
    cursor: default;
}

.navbar-right i{
    font-size: 22px;
    opacity: 0.55;
    cursor: pointer;
}

.navbar-right{
    float: right;
}

.navbar-left{
    float: left;
    margin-left: -25px;
}

div.container{
    width: 100%;
    margin: 14% auto;
}

div.box{
    width: 40%;
    margin: 0 auto;
}

.logo{
    width: 272px;
    margin: 0px auto;
}

.logo img{
    width:272px;
    height: 92px;
}

.logo-sub-title{
    color: #4285f4;
    font-size: 19px;
    width: 10%;
    margin: -21px;
    margin-left: 364px;
    font: 16px/16px roboto-regular, arial, sans-serif;
}

.input{
    width: 98%;
    margin: 46px auto;
}


input[type=search]{
    padding-left: 15px;
    width: 584px;
    height: 44px;
    border: grey;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);

}

input[type=search]:hover{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.buttons{
    width: 51%;
    margin: -14px auto;
}

.btn-btn-large{
    width: 142.167px;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #757575;
    border-radius: 2px;
}

.btn-btn-large:hover{
    color: #000;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
}

.text{
    font-size: small;
    font-family: arial,sans-serif;
    color: #222;
    width: 31%;
    margin: 43px auto;
}

.text a{
    color: #1a0dab;
    text-decoration: none;
}

.text a:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer li{
    float: left;
    display: inline;
    width: 73px;
    text-align: center;


}

footer li a{
    text-decoration: none;
    color: #666;
    font-family: arial,sans-serif;
    font-size: 13px;
}

footer li a:hover{
    text-decoration: underline;
}

.foobar-left{
    float: left;
    padding-left: 17px;
    margin-left: -36px;
}

.foobar{
    margin-top: -6px;
    margin-bottom: 46px;
}

.foobar-right{
    margin-right: 19px;
    float: right;
}

.foobar-left li{
    width: 86px;
}