.headerlist-1 li{
    float: left;
    width: 50px;
    list-style-type: none;
}

.headerlist-2 li{
    float: left;
    width: 50px;
    list-style-type: none;
    color: #000;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.headerlist-1 li a{
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.headerlist-1 li a:hover{
    text-decoration: underline;
    text-decoration-color: #000;
    opacity: 0.75;
}

header{
    position: absolute;
    top:0;
    right:47px;
    left:0;
}

.headerlist-2 li a{
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.headerlist-2 li a:hover{
    text-decoration: underline;
    text-decoration-color: #000;
    opacity: 0.75;
}


header .headerlist-2{
    float: right;
}

.headerlist-2 i{
    padding-left: 10px;
    font-size: 22px;
    color: #757575;
    opacity: 0.75;
    cursor: pointer;
}

.headerlist-2 i:hover{
    color:#000;
    opacity: 0.75;
}

.headerlist-2 button{
    color: white;
    width: 66px;
    height: 32px;
    background-color: #4285f4;
    margin-top: -7px;
    border: none;
    border-radius: 3px;
}

.logo {
    margin-left: 561px;
    padding-top: 215px;
}

.logo img{
    width:272px;
    height: 92px;
}

.logo-text{
    padding-left: 774px;
    margin-top: -26px;
    color: #4285f4;
    font-size: 19px;
}

input[type=search]{
    margin-left: 423px;
    margin-top: 23px;
    width: 559px;
    height: 34px;
    border: grey;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);

}

.button{
    padding-left: 560px;
    padding-top: 33px;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.button1{
    width: 125.35px;
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #757575;
    font-weight: bold;
}

.button1:hover{
    color: #222;
    border: 1px solid #f5f55f;
}

.button2{
    width: 142.167px;
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    margin-left: 8px;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #757575;
    font-weight: bold;
}

.button2:hover{
    color: #222;
    border: 1px solid #f5f5f5;
}

.text{
    padding-left: 601px;
    padding-top: 11px;
    font-size: small;
    font-family: arial,sans-serif;
    color: #222;
}

.text a{
    color: #1a0dab;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: small;
}

.text a:hover{
    text-decoration: underline;
    text-decoration-color: #1a0dab;
}

.footerlist-1 li{
    float: left;
    width: 96px;
    list-style-type: none;
}

.footerlist-2 li{
    float: left;
    width: 67px;
    list-style-type: none;              
}

.footerlist-1 li a{
    text-decoration: none;
    color: #666;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.footerlist-1 li a:hover{
    text-decoration: underline;
    text-decoration-color: #666;
}

.footerlist-2 li a{
    text-decoration: none;
    color: #666;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.footerlist-2 li a:hover{
    text-decoration: underline;
    text-decoration-color: #666;
}


.footerlist-1{
    float:left; 
}

.footerlist-2 {
   float: right;
}

footer div{
    background-color: #f2f2f2;
    position: absolute;
    bottom:0px;
    right:0px;
    left:0px;
    clear: both;
    border-top: 1px solid #e4e4e4;
}

body{
    background-color: lightblue;
}

